* {
    margin: 0;
    padding: 0;
}
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    height: 95dvh;
    display:grid;
    grid-template: 'player1 game player2' 3fr 'display-score display-score display-score'  1fr / 1fr 3fr 1fr ;
    padding: 25px;
    gap: 25px;
}

.game {
    grid-area: game;
    display: grid;
    grid-template: repeat(3,minmax(100px,1fr))/repeat(3,minmax(100px,1fr));
}

.player1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    grid-area: player1;

}

.player2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    grid-area: player2;

}

.display-score {
    display: flex;
    grid-area: display-score;
    align-items: center;
    justify-content: center;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid black;
    font-size: 8cqmax;
}
.cell:nth-child(3n + 1){
    border-left: none;
}
.cell:nth-child(3n + 3){
    border-right: none;
}
.cell:nth-child(-n + 3){
    border-top: none;
}
.cell:nth-child(n + 7){
    border-bottom: none;
}



.player1 p, .player2 p{
    display: flex;
    align-items: center;
    font-size: 3cqmax;
    flex-direction: column;
}

input {
    width: 11.2cqmax;
    height: 2cqmax;
    font-size: 1.5cqmax;
}

button {

width: 15cqmax;
height: 5cqmax;
font-size: 1.5cqmax;
border: 1px solid black;
border-radius: 1cqmax;
}


p#marker{
    font-size: 5cqmax;
}